.content-container{
	width: 100vw;
	background: linear-gradient(20deg, rgba(13, 1, 5, .4), rgba(229, 255, 222, 1.00));
}

.jukebox-section{
	width: 100vw;
	height:	65vh;
	display: inline-block;
}

.player-wrap{
	width: 21em;
	height: 18em;
	display: inline-block;
	border: .1px solid #000;
	border-radius: 1em;
	margin: 6vh 5em;

}

.controls-container{
	width: 16em;
	text-align: center;
	margin: 3vh auto;
	border: .1px solid #000;
	border-radius: 1.3em;
}

.controls{
	width: 4em;
	height: 4em;
	background: none;
	display: inline-block;
}

#player-info{
	width: 10em;
	height: 3em;
	text-align: center;
	font-size: 2em;
}

#playlist-ul{
	width: 18em;
	list-style: none;
	margin: 0 auto;
	border-radius: 1.2em;
	overflow: hidden;
	background: green;
	padding: .8em;
}

.playlist-item{
	display: block;
	width: 18em;
	color: #fff;
}

#playlist-ul a{
	text-decoration: none;
}

.about-section{
	width: 100vw;
	height: 60vh;
	/*background: linear-gradient(20deg, rgba(0, 31, 84, 1.00), rgba(13, 1, 5, 0));*/
	background: red;
}

.bio-wrapper{
	width: 40vw;
	height: 50vh;
	background: yellow;
	display: inline-block;
}

.bio-wrapper h3{
	font-size: 2em;
	text-align: center;
}

.bio-wrapper p{
	width: 98%;
	margin: 0 auto;
	font-size: 1.5em;
}