*{
	margin: 0;
	padding: 0;
	vertical-align: top;
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Prompt', sans-serif;
}

.site-container{
	width: 100vw;
	height: 100vh;
}

.landing-container{
	width: 100vw;
	height: 20vh;
	background: RGBA(1, 0, 5, 1.00);
	border: .1px solid #fff;
}

.landing-content{
	width: 100vw;
	height: 17vh;
	margin: 4vh 0;
}

.logo-container{
	width: 7em;
	height: 7em;
	border-radius: 50%;
	float: left;
	margin: 2vh 12%;
}

.landing-text{
	display: inline-block;
	text-align: center;
	color: #fff;
}

.landing-name{
	font-size: 7vmin;
	display: block;
}

.typed-title{
	font-size: 4vmin;
}

.footer{
	width: 100vw;
	height: 10vh;
	background: linear-gradient(rgba(1, 0, 5, .9)85%, rgba(16, 37, 66, .6));
	border-top: .01px solid #000;
}

.contact-ul{
	width: 90vw;
	text-align: center;
	list-style: none;
	padding-top: 3vh;
	margin: 0 auto;
}

.contact-ul li{
	display: inline-block;
	margin: 0 .4em;
}

.soc-med-icon{
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
}